body{
   
    color:darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar {
    background-color:goldenrod;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-heading {
    
    margin-top: -0.2em;
    /* Typography Declarations */
    color: Red;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px #FFCF33;
  }
  /* CSS for the navigation links */
.navbar-nav .nav-item .nav-link {
  position: relative;
  transition: border-bottom-color 0.3s ease;
}

/* Border bottom effect on hover */
.navbar-nav .nav-item .nav-link:hover {
  border-bottom: 5px solid orange;
}

/* Border bottom effect on active link */
.navbar-nav .nav-item .nav-link.active {
  border-bottom: 5px solid orange;
}

  h3{
    margin-top: -0.2em;
    /* Typography Declarations */
    color: blue;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px #FFCF33;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .navbar-links li a {
    color:white;
    font-size:20px;
    text-decoration: none;
    color: #333;
    padding: 10px;
  }
  
  .navbar-links li a:hover {
    background-color: #333;
    color: #fff;
  }
  
  .heading {
    text-align: center;
  }
  .about-me {
   height: 500px;
    padding: 20px;
    margin-bottom: 20px;
    
  }
  
  .about-me h2 {
    font-size: 24px;
    margin-top: 0;
   
  }
  
  .about-me p {
    font-size: 16px;
    line-height: 1.5;
  }
  

  .moving-text {
    
    margin-top: -0.2em;
    /* Typography Declarations */
    color: #FFF1C2;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px #FFCF33;
  }
  .glassmorphism {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }
  .Name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }

  .masthead-heading {
    /* Layout Declarations */
    margin-top: -0.2em;
    /* Typography Declarations */
    color: #FFF1C2;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px #FFCF33;
  }
 
  #live-time {
    margin-top: -0.2em;
    /* Typography Declarations */
    color: #FFF1C2;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px #FFCF33;
  }

.contact{
  color: blue;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px #FFCF33;
}
@media (max-width: 576px) {
  .navbar-heading {
    font-size: 24px;
  }
  .navbar-toggler {
    margin-right: 10px;
  }
  .moving-text {
    padding: 0 20px;
  }
  .font-size-25 {
    font-size: 16px;
  }
}

/* Medium devices (between 577px and 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .navbar-heading {
    font-size: 30px;
  }
}

/* Large devices (between 769px and 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .navbar-heading {
    font-size: 36px;
  }
}

/* Extra-large devices (above 1200px) */
@media (min-width: 1200px) {
  .navbar-heading {
    font-size: 48px;
  }
  .display-4 {
    font-size: 60px;
  }
}

/* Adjustments for specific elements on smaller screens */
@media (max-width: 576px) {
  .about-me {
    padding: 20px;
  }
  .contact {
    padding: 10px;
  }
  .heading1 {
    font-size: 20px;
  }
}
